* {
  box-sizing: border-box;
  margin: auto;
}

body {
  width: 70%;
  margin: auto;
  padding: 20px;
}

.item {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

span {
 position: absolute;
 right: 0;
}

.sconto {
  background-color: red;
}

.sconto_alto {
  background-color: green;
}

.hearts {
  display: none;
}

.item:hover .hearts {
  display: inline;
  right: 50%;
  bottom: 5%;
  font-size: 20px;
  color: red;
}

.item:hover {
  cursor: pointer;
}
