* {
  box-sizing: border-box;
  margin: auto;
}

body {
  width: 70%;
  margin: auto;
  padding: 20px;
}

.item {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

span {
  position: absolute;
  top: 0;
  right: 0;
}

.sconto {
  background-color: red;
}

.sconto_alto {
  background-color: green;
}

.hearts {
  right: 50%;
  bottom: 100%;
  position: absolute;
}
